---
import ProjectCard from "./ProjectCard.astro";
import SectionTitle from "./typography/SectionTitle.astro";
import ScreenSection from "./ui/ScreenSection.astro";
import devToImage from "../assets/project-shots/dev-to-clone.webp";
import ecommPageImage from "../assets/project-shots/ecomm-page.webp";
import jobListingsImage from "../assets/project-shots/filter-jobs.webp";
import ipTrackerImage from "../assets/project-shots/ip-tracker.webp";
import calcImage from "../assets/project-shots/calc.webp";
---

<ScreenSection id="projects">
  <SectionTitle>Projects</SectionTitle>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 items-center justify-items-center py-12"
    data-project-grid
  >
    <ProjectCard
      title="DEV Blog Clone"
      id="dev-clone"
      imageSource={devToImage}
      codeLink="https://github.com/tomhine/dev-to-clone"
      liveLink="http://159.65.21.177/"
      js
      php
      laravel
      tailwind
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus saepe vero soluta
        tempora illum perspiciatis dolor dolorum similique repellendus nisi eaque officiis fugit
        obcaecati reiciendis nostrum fuga, iste quaerat!
      </p>
    </ProjectCard>

    <ProjectCard
      title="Ecommerce Product Page"
      id="ecomm-prod"
      imageSource={ecommPageImage}
      codeLink="https://github.com/tomhine/fm-ecomm-prod-page"
      liveLink="https://fm-ecomm-prod-page.netlify.app/"
      js
      astro
      vue
      tailwind
    >
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nam sed aliquam eos
        nihil error consequuntur? Vel ex voluptate veritatis mollitia magnam officia nulla, eligendi
        atque laborum eum, voluptates temporibus!
      </p>
    </ProjectCard>

    <ProjectCard
      title="Job Listings Page"
      id="job-list"
      imageSource={jobListingsImage}
      codeLink="https://github.com/tomhine/fm-job-listings-vue"
      liveLink="https://fm-job-listings.netlify.app/"
      js
      astro
      vue
      tailwind
    >
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nam sed aliquam eos
        nihil error consequuntur? Vel ex voluptate veritatis mollitia magnam officia nulla, eligendi
        atque laborum eum, voluptates temporibus!
      </p>
    </ProjectCard>

    <ProjectCard
      title="IP Address Tracker"
      id="ip-tracker"
      imageSource={ipTrackerImage}
      codeLink="https://github.com/tomhine/ip-tracker"
      liveLink="https://tomhine.github.io/ip-tracker/"
      html
      css
      js
    >
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nam sed aliquam eos
        nihil error consequuntur? Vel ex voluptate veritatis mollitia magnam officia nulla, eligendi
        atque laborum eum, voluptates temporibus!
      </p>
    </ProjectCard>

    <ProjectCard
      title="Javascript Calculator"
      id="calc"
      imageSource={calcImage}
      codeLink="https://github.com/tomhine/calc"
      liveLink="https://tomhine.github.io/calc/"
      html
      css
      js
    >
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nam sed aliquam eos
        nihil error consequuntur? Vel ex voluptate veritatis mollitia magnam officia nulla, eligendi
        atque laborum eum, voluptates temporibus!
      </p>
    </ProjectCard>
  </div>
</ScreenSection>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "https://cdn.skypack.dev/gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let projectCardTimeline = gsap.timeline({
    delay: 0.05,
    scrollTrigger: { trigger: "#projects", start: "top center" },
  });

  const timelineOptions = {
    duration: 0.4,
    y: 75,
    opacity: 0,
  };

  projectCardTimeline.from("#dev-clone", timelineOptions);
  projectCardTimeline.from("#ecomm-prod", timelineOptions);
  projectCardTimeline.from("#job-list", timelineOptions);
  projectCardTimeline.from("#ip-tracker", timelineOptions);
  projectCardTimeline.from("#calc", timelineOptions);
</script>
