---
import AstroIcon from "./icons/AstroIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import GlobeIcon from "./icons/GlobeIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";
import LaravelIcon from "./icons/LaravelIcon.astro";
import PhpIcon from "./icons/PhpIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import VueIcon from "./icons/VueIcon.astro";
import CardTitle from "./typography/CardTitle.astro";

export interface Props {
  title: string;
  id: string;
  imageSource: string;
  codeLink: string;
  liveLink: string;
  html?: boolean;
  css?: boolean;
  js?: boolean;
  php?: boolean;
  astro?: boolean;
  laravel?: boolean;
  react?: boolean;
  vue?: boolean;
  tailwind?: boolean;
}

const { title, id, imageSource, codeLink, liveLink, html, css, js, php, astro, laravel, react, vue, tailwind } = Astro.props as Props;
---

<article class="w-full rounded-lg border border-primary-orange h-[630px]" {id}>
  <a href={liveLink} target="_blank">
    <img src={imageSource} alt={`${title} preview`} class="rounded-t-lg" />
  </a>
  <div class="p-4 flex flex-col gap-2 rounded-b-md">
    <CardTitle>{title}</CardTitle>
    <div class="leading-7 h-[10.5rem]">
      <slot />
    </div>
    <div class="p-4 w-full flex items-center gap-4">
      { html && <HtmlIcon styles="h-8 w-8" />}
      { css && <CssIcon styles="h-8 w-8" />}
      { js && <JavascriptIcon styles="h-8 w-8" />}
      { php && <PhpIcon styles="h-8 w-8" />}
      { astro && <AstroIcon styles="h-8 w-8" />}
      { laravel && <LaravelIcon styles="h-8 w-8" />}
      { react && <ReactIcon styles="h-8 w-8" />}
      { vue && <VueIcon styles="h-8 w-8" />}
      { tailwind && <TailwindIcon styles="h-8 w-8" />}
    </div>
    <div class="w-full items-center grid grid-cols-2 gap-4 justify-items-center pt-4">
      <a
        href={liveLink}
        class="w-full p-2 bg-primary-orange hover:bg-primary-orangehover rounded-md flex items-center justify-center gap-3"
        target="_blank"
      >
        <GlobeIcon />
        Live site
      </a>
      <a
        href={codeLink}
        class="w-full p-2 bg-primary-orange rounded-md hover:bg-primary-orangehover flex items-center justify-center gap-3"
        target="_blank"
      >
        <GitHubIcon />
        Source
      </a>
    </div>
  </div>
</article>
